{% load unitpages_tags %}
{% unitpage_title '/statadv/' 'label' 'url' %}
{% if url %}
<li class="menu-item menu-item-has-children {% if current_url|startswith:url %}current-menu-item{% endif %}">
    {% include './_item.html' with label="Consulting" %}
    <ul class="sub-menu">
        {% unitpage_title '/statadv/statadv-access/' 'label' 'url' %}
        {% if url %}
            <li class="menu-item">
                {% include './_item.html' with label='Booking an appointment' %}
            </li>
        {% endif %}

        {% unitpage_title '/statadv/statadv-hours/' 'label' 'url' %}
        {% if url %}
            <li class="menu-item">
                {% include './_item.html' with label='Drop-in hours' %}
            </li>
        {% endif %}

        {% unitpage_title '/statadv/statadv-rates/' 'label' 'url' %}
        {% if url %}
            <li class="menu-item">
                {% include './_item.html' with label='Rates' %}
            </li>
        {% endif %}

        {% unitpage_title '/statadv/statadv-projects/' 'label' 'url' %}
        {% if url %}
            <li class="menu-item">
                {% include './_item.html' with label='Examples of projects' %}
            </li>
        {% endif %}
    </ul>
</li>
{% endif %}
