{% load static %}
<a href="http://news.umanitoba.ca/13-million-in-new-funding-supporting-research-projects-vital-to-manitoba"><img width="800" height="342" src="{% static 'img/landing/WebBanner_Lake_Sturgeon_Aug_2015.jpg' %}"></a>
<a href="http://news.umanitoba.ca/ctv-manitoba-researcher-has-a-plan-to-make-mosquitoes-drop-like-flies-2"><img width="800" height="342" src="{% static 'img/landing/WebBanner_Mosquitoes_Aug_2015.jpg' %}"></a>
<a href="http://news.umanitoba.ca/exploring-the-unknown"><img width="800" height="342" src="{% static 'img/landing/Bruce_Ford.jpg' %}"></a>
<a href="./honours/"><img width="800" height="342" src="{% static 'img/landing/WebBanner_Undergrad_Research_Aug_2015.jpg' %}"></a>
<a href="./undergraduate/"><img width="800" height="342" src="{% static 'img/landing/WebBanner_Undergrad_Program_Aug_2015.jpg' %}"></a>
<a href="http://umanitoba.ca/faculties/science/research/2217.html"><img width="800" height="342" src="{% static 'img/landing/FAC-SC-LandingPG-Degree-FNL.png' %}"></a>
